.col {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.titulo {
    background-color: grey;
}

.parrafo{
    background-color:slategray;
}

.footer{
    background-color:khaki;
}
@media only screen and (max-width: 480px){
    .boton {
        background-color: yellow;
    }
} 

@media only screen and (min-width: 481px){
    .boton {
        background-color: blue;
    }
} 

@media only screen and (min-width: 1024px){
    .boton {
        background-color: red;
    }
} 